

<ion-content [fullscreen]="true">
  <div class="div-title">
    <strong>EJTC</strong>
    <br>
    <strong>Roteamento</strong>
    <br>
    <ion-icon name="map-outline"></ion-icon>
  </div>

  <div id="container" class="div-botoes">
    <ion-button fill="outline" class="botoes" color="danger" expand="block" routerLink="/clientes">
      <ion-label>Clientes</ion-label>
      <ion-icon name="people-sharp"></ion-icon>
    </ion-button>
    <ion-button fill="outline" class="botoes" color="danger" expand="block" routerLink="/entregas">
      <ion-label>Entregas</ion-label>
      <ion-icon name="trending-up-sharp"></ion-icon>
    </ion-button>
    <ion-button fill="outline" class="botoes" color="danger" expand="block" routerLink="/rota">
      <ion-label>Rota</ion-label>
      <ion-icon name="location-sharp"></ion-icon>
    </ion-button>
    <ion-button fill="outline" class="botoes" color="danger" expand="block" routerLink="/configuracoes">
      <ion-label>Configuracões</ion-label>
      <ion-icon name="construct"></ion-icon>
    </ion-button>
  </div>
</ion-content>
